<div class="container-fluid">
    <div class="form-group row">
        <div class="col-12">
            <h2 class="text-right">Comentarios y Sugerencias Recibidas</h2>
        </div>
        <div class="col-12">
            <div class="input-group">
                <input class="form-control col-4" type="text" placeholder="Buscar">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <table class="col-12 table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                    </th>
                    <th scope="col-6">
                        <span>
                            <strong>Coperativa</strong>
                        </span>
                    </th>
                    <th scope="col-6">
                        <span>
                            <strong>Mensajes</strong>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <i class="fa fa-hand-o-right"></i>
                    </td>
                    <td>
                        Iñaquito
                    </td>
                    <td>
                        4
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12">
            <div class="btn-toolbar">
                <div>
                    <button type="button" class="btn btn-default" (click)="getPaginaPrimera()">
                        <span class="fa fa-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default" (click)="getPaginaAnterior()">
                        <span class="fa fa-step-backward"></span>
                    </button>
                    <span><strong style="margin:10px;">Página</strong><strong id="paginaActual">{{paginaActual}}</strong><strong style="margin:10px;">de</strong><strong id="paginaUltima" style="margin-right:10px;">{{paginaUltima}}</strong></span>
                    <button type="button" class="btn btn-default" (click)="getPaginaSiguiente()">
                        <span class="fa fa-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default" (click)="getPaginaUltima()">
                        <span class="fa fa-fast-forward"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <h4 class="text-center" style="border-bottom: 1px solid black;">Mensajes</h4>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <table class="col-12 table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <span>
                                <strong>No.</strong>
                            </span>
                        </th>
                        <th>
                            <span>
                                <strong>Placa</strong>
                            </span>
                        </th>
                        <th>
                            <span>
                                <strong>Mensaje</strong>
                            </span>
                        </th>
                        <th>
                            <span>
                                <strong>Opciones</strong>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            1
                        </td>
                        <td>
                            PCO9000
                        </td>
                        <td>
                            <p class="text-justify">Excelente servicio me siento super satisfecho</p>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary" (click)="mostrarInfo(content)">
                                <span class="fa fa fa-eye"></span>&nbsp;Mostrar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

 <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3><strong>Mensaje Recibido: 2018-04-14 08:56am</strong></h3>
    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-12"><h5><strong>Remitente</strong></h5></div>
            <div class="col-6">
                <strong>Nombre:</strong>&nbsp;Luis Alfonso Salazar Vaca
            </div>
            <div class="col-6">
                <strong>Teléfono:</strong>&nbsp;0998600661
            </div>
            <div class="col-12">
                <strong>Correo Electrónico:</strong>&nbsp;luissalazarvaca1986@gmail.com
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12"><h5><strong>Unidad</strong></h5></div>
            <div class="col-6">
                <strong>Coperativa:</strong>&nbsp;Reino de Quito
            </div>
            <div class="col-6">
                <strong>Ruta:</strong>&nbsp;Universidades
            </div>
            <div class="col-6">
                <strong>Registro Municipal:</strong>&nbsp;1563
            </div>
            <div class="col-6">
                <strong>Placa:</strong>&nbsp;PCO9000
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12"><h5><strong>Contenido</strong></h5></div>
            <div class="col-12">
                <p class="alert alert-secondary text-justify">Estoy muy bien, contento y animado</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12"><h5><strong>Responder</strong></h5></div>
            <div class="col-12">
                <textarea rows="3" class="form-control" id="contenido" name="contenido" placeholder="Respuesta"></textarea>
                <div style="float:left; width:100%; height:5px;"></div>
                <button type="button" class="btn btn-secundary col-offset-sm-4">
                    <span class="fa fa-pencil-square-o"></span>&nbsp;Enviar
                </button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success col-offset-sm-4">
            <span class="fa fa-file-pdf-o"></span>&nbsp;Descargar Adjunto
        </button>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" (click)="mostrarInfo(content)">
                <span class="fa fa-thumbs-down"></span>&nbsp;Negativo
            </button>
            <button type="button" class="btn btn-warning">
                <span class="fa fa-meh-o"></span>&nbsp;No Específico
            </button>
            <button type="button" class="btn btn-success">
                <span class="fa fa-thumbs-up"></span>&nbsp;Positivo
            </button>
        </div>
    </div>
</ng-template>
