<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/monitoreo']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa fa-bus"></i>&nbsp;{{ 'Monitoreo' | translate }}
        </a>
        <a [routerLink]="['/experiencias']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa fa-bullhorn"></i>&nbsp;{{ 'Comentarios y Experiencias' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Base de Datos' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <a [routerLink]="['/coperativa']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa fa-building-o"></i>&nbsp;{{ 'Coperativas' | translate }}
                    </a>
                    <a [routerLink]="['/ruta']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa fa-map-marker"></i>&nbsp;{{ 'Rutas' | translate }}
                    </a>
                    <a [routerLink]="['/unidad']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa fa-bus"></i>&nbsp;{{ 'Unidades' | translate }}
                    </a>
                    <a [routerLink]="['/tipounidad']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa fa-cubes"></i>&nbsp;{{ 'Tipos de Unidades' | translate }}
                    </a>
                    <a [routerLink]="['/persona']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <i class="fa fa fa-address-book-o"></i>&nbsp;{{ 'Usuarios' | translate }}
                    </a>
                </ul>
            </li>
        </div>
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp;{{usuario}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
