<div class="container-fluid">
    <div class="form-group row">
        <div class="col-12">
            <h2 class="text-right">Reportes de Monitoreo de Unidades</h2>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-6">
            <div class="form-group row">
                <label for="idCoperativa" class="col-sm-4 col-form-label text-right"><strong>Coperativa</strong></label>
                <div class="col-sm-8">
                    <select class="form-control" id="idCoperativa" name="idCoperativa" [(ngModel)]="idCoperativaSeleccionada" (change)="getUnidades(idCoperativaSeleccionada)">
                        <option value="1" selected>Sin Coperativa</option>
                        <option *ngFor="let coperativa of coperativas" value={{coperativa.id}}>{{coperativa.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label for="idCoperativa" class="col-sm-4 col-form-label text-right"><strong>Unidad</strong></label>
                <div class="col-sm-8">
                    <select class="form-control" id="idUnidad" name="idUnidad" [(ngModel)]="idUnidadSeleccionada" (change)="seleccionarUnidad(idUnidadSeleccionada)">
                        <option value="0" selected>Seleccione...</option>
                        <option *ngFor="let unidad of unidades" value={{unidad.id}}>{{unidad.numero}} {{unidad.placa}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <label for="idFecha" class="col-sm-4 col-form-label text-right"><strong>Fecha</strong></label>
            <div class="col-sm-8">
                <select class="form-control" id="idFecha" name="idFecha" [(ngModel)]="fechaSeleccionada" (change)="onSelectFecha()">
                    <option value="0" selected>Seleccione...</option>
                    <option *ngFor="let fecha of fechas" value={{fecha}}>{{fecha}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div #gmap class="col-12" style="height:750px;"></div>
    </div>
    <div class="form-group row">
        <div class="col-12" *ngIf="mostrarDatosRecorrido">
            <div class="col-12">
                <h4 class="text-center" style="border-bottom: 1px solid black;" >Recorrido</h4>
            </div>
            <div>
                <table class="col-12 table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                <span>
                                    <strong>Tiempo</strong>
                                </span>
                            </th>
                            <th>
                                <span>
                                    <strong>No.</strong>
                                </span>
                            </th>
                            <th>
                                <span>
                                    <strong>Placa</strong>
                                </span>
                            </th>
                            <th>
                                <span>
                                    <strong>Registro Municipal</strong>
                                </span>
                            </th>
                            <th>
                                <span>
                                    <strong>Velocidad</strong>
                                </span>
                            </th>
                            <th>
                                <span>
                                    <strong>Latitud</strong>
                                </span>
                            </th>
                            <th>
                                <span>
                                    <strong>Longitud</strong>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let posicion of rutaMostrada">
                            <td>
                                {{posicion.tiempo}}
                            </td>
                            <td>
                                {{posicion.numero}}
                            </td>
                            <td>
                                {{posicion.placa}}
                            </td>
                            <td>
                                {{posicion.registroMunicipal}}
                            </td>
                            <td>
                                {{posicion.velocidad}}
                            </td>
                            <td>
                                {{posicion.latitud}}
                            </td>
                            <td>
                                {{posicion.longitud}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
