<div class="container-fluid">
    <div class="form-group row">
        <div class="col-12">
            <h2 class="text-right">Reportes de Monitoreo de Unidades</h2>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
            <div class="form-group row">
                <label for="idCoperativa" class="col-sm-4 col-form-label text-right"><strong>Coperativa</strong></label>
                <div class="col-sm-8">
                    <select class="form-control" id="idCoperativa" name="idCoperativa" [(ngModel)]="idCoperativaSeleccionada" (change)="getUnidades(idCoperativaSeleccionada)">
                        <option value="1" selected>Sin Coperativa</option>
                        <option *ngFor="let coperativa of coperativas" value={{coperativa.id}}>{{coperativa.nombre}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="idFecha" class="col-sm-4 col-form-label text-right"><strong>Fecha</strong></label>
        <div class="col-sm-6">
            <input type="date" class="form-control" id="fecha" name="fecha" [ngModel]="fechaSeleccionada | date:'y-MM-dd'" (ngModelChange)="fechaSeleccionada = $event">
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary col-offset-sm-4" (click)="generarReporte()">
                <span class="fa fa-refresh"></span>&nbsp;Consultar
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12" *ngIf="mostrarDatosRecorrido">
            <div class="col-12">
                <h4 class="text-center" style="border-bottom: 1px solid black;" >Resumen</h4>
            </div>
            <div>
                <table class="col-12 table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                <small>
                                    <strong>Unidad</strong>
                                </small>
                            </th>
                            <th>
                                <small>
                                    <strong>Nivel de Conducción</strong>
                                </small>
                            </th>
                            <th>
                                <small>
                                    <strong>Kilometraje Final</strong>
                                </small>
                            </th>
                            <th>
                                <small>
                                    <strong>Distancia Recorrida</strong>
                                </small>
                            </th>
                            <th>
                                <small>
                                    <strong>Inicio</strong>
                                </small>
                            </th>
                            <th>
                                <small>
                                    <strong>Fin</strong>
                                </small>
                            </th>
                            <th>
                                <small>
                                    <strong>Tiempo Detenido</strong>
                                </small>
                            </th>
                            <th>
                                <small>
                                    <strong>Tiempo Movimiento</strong>
                                </small>
                            </th>
                            <th>
                                <small>
                                    <strong>Velocidad Promedio</strong>
                                </small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let posicion of InformacionDiariaRutas">
                            <td>
                                <small>{{posicion.Alias}}</small>
                            </td>
                            <td>
                                <small>{{posicion.Calificacion_Conductor}}%</small>
                            </td>
                            <td>
                                <small>{{posicion.Odometro_Final}} Km</small>
                            </td>
                            <td>
                                <small>{{posicion.Distancia_Recorrida}} Km</small>
                            </td>
                            <td>
                                <small>{{posicion.Inicio_Viaje | date:'MMMM dd HH:mm'}}</small>
                            </td>
                            <td>
                                <small>{{posicion.Fin_Viaje | date:'MMMM dd HH:mm'}}</small>
                            </td>
                            <td>
                                <small>{{posicion.Tiempo_Detenido}}</small>
                            </td>
                            <td>
                                <small>{{posicion.Tiempo_Movimiento}}</small>
                            </td>
                            <td>
                                <small>{{posicion.Velocidad_Promedio}} Km/h</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
