<div [@routerTransition]>
    <div class="col-12">
        <img src="assets/images/LogoGeoTracking.png" class="img-responsive col-xs-5 col-sm-5 col-md-5 col-lg-5"/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="col-12">
        <div class="form-group row">
            <div class="col-3">
                <div class="card col-12" style="background-color:#4286f4;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white;"><strong>POSICIONAMIENTO</strong></h5>
                        <div class="form-group row">
                            <div class="col-3">
                                <i class="fa fa-map-marker fa-4x" style="color: white;"></i>
                            </div>
                            <div class="col-9">
                                <p class="card-text text-right" style="color:white;">Localización y estado de sus vehículos en tiempo real.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card col-12" style="background-color:#f9c43b;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white;"><strong>CONTROL DE ACTIVIDAD</strong></h5>
                        <div class="form-group row">
                            <div class="col-3">
                                <i class="fa fa-list-alt fa-4x" style="color: white;"></i>
                            </div>
                            <div class="col-9">
                                <p class="card-text text-right" style="color:white;">Registro de todos los movimientos realizados y rutas programadas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card col-12" style="background-color:#40b745;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white;"><strong>RADAR SITIOS POIS</strong></h5>
                        <div class="form-group row">
                            <div class="col-3">
                                <i class="fa fa-rss fa-4x" style="color: white;"></i>
                            </div>
                            <div class="col-9">
                                <p class="card-text text-right" style="color:white;">El radar GPS envía avisos de llegada y salida.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card col-12" style="background-color:#ce1231;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white;"><strong>SOPORTE 24/7</strong></h5>
                        <div class="form-group row">
                            <div class="col-3">
                                <i class="fa fa-cogs fa-4x" style="color: white;"></i>
                            </div>
                            <div class="col-9">
                                <p class="card-text text-right" style="color:white;">Mesa de Soporte Técnico on-line 24/7 para solventar cualquier consulta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float:left; width:100%; height:20px;"></div>
        <div class="col-12">
            <div class="col-12 text-center">
                <h6>GPS TRACKING EC</h6>
                <div class="col-12 text-center small">&copy; Producto desarrollado por Luis Afonso Salazar Vaca y Andrés Alejandro Romero Barreto</div>
                <br/>
            </div>
        </div>
    </div>
</div>

